
body {

background: url('merlo.jpg') right no-repeat;

  font-family: Roboto, sans-serif;
}

.container {
  padding: 0 40px;
  margin-left: 80px;
}

  /* Свойства ссылок */
a {
  display: block;
  text-decoration:none;
  margin-bottom: 1.2em;
  position: relative;
}

  /* Что делать при наведении на ссылку */
a:hover {
  color:#00CED1;
}

  /* Этим свойством добавляем подчеркивание через создание псевдокласса */
a::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(2.5em);
  border-bottom: 2px solid #FFB6C1;
  width: 300px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  margin: 1.25em 0;
}

  /* Свойства фотографии*/
.photo {
  border-radius: 20px;
  /* Радиус скругления */
  border: 10px solid transparent;
  /* Параметры рамки */
  box-shadow: 0 4px 15px 0px rgba(0, 0, 0, 0.52);
  object-fit: cover;
}

  /* Эффект наведения на картинку */
.photo:hover {
  border: 10px solid #008000;
}

.blue-text {
    color: #0000CD;
    font-weight: bold;
}

.green-text {
    color: #00ff00;
}

.red-text {
    color: #DC143C;
}